* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header, footer {
    color: rgb(255, 248, 245);
    background-color: rgb(97, 26, 26);
    background-image: url(../img/img/fondo-granos.png);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul, footer ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    justify-content: space-evenly;
}

header nav ul li a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

main { 
    color: rgb(97, 26, 26);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
}

h1 {
    font-size: 2.5rem;
}
